---
layout: baseLayout
---

<!-- PAGE TITLE SECTION-->
<section class="pageTitleSection">
	<div class="container">
	<div class="pageTitleInfo">
		<h2>{{ page.title }}</h2>
		<ol class="breadcrumb">
		<li><a href="{{ site.data.global.baseurlfornavigation }}/home">Home</a></li>
		<li class="active">{{ page.title }} </li>
		</ol>
	</div>
	</div>
</section>
{{content}}